<!DOCTYPE html>
<html lang="en">
<body style="background-color:pink;">
<head>
    <meta charset="UTF-8">
    <head>
    <title>Movies</title>
<body>
<h1>Movies in Theaters Now</h1>

<img src= "{{url_for('static', filename='/images/img2.jpg')}}"  width="350"
     height="500">
<img src= "{{url_for('static', filename='/images/img1.jpg')}}" width="350"
     height="500" >
<img src= "{{url_for('static', filename='/images/img3.jpg')}}" width="350"
     height="500" >
<img src= "{{url_for('static', filename='/images/img4.jpg')}}" width="350"
     height="500" >
<img src= "{{url_for('static', filename='/images/img5.jpg')}}" width="350"
     height="500" >

</body>
</html>