<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<body style="background-color:pink;">
<html>
<head>
    <title>Receipt</title>
</head>
<body>
<h1>Thank You For Your Payment</h1>

<h2> A Receipt Has Been Emailed to You With Your ETickets Attached.<br>
    Enjoy the Show and Please Leave a Review For a Chance to Win 2 Free Movie Tickets On Us!!</h2>
<div style="text-align: center;">
<img src= "{{url_for('static', filename='/images/img6.jpg')}}" width="350"
     height="500" >
</div>div>
</body>
</html>